/* Style de base */
body {
  font-family: Arial, sans-serif;
  margin:0;
  background-color: #f4f4f4;
  color: #333;
}

/* Section d'accueil */
#accueil {
  background: #333;
  color: #fff;
  padding: 60px 20px;
  height: auto;
}

#accueil h1 {
  font-size: 2.5em;
  text-align: center;
}

#accueil p{
  text-align: center;
}

#menuSelection{
  background-color: #333;
  border: none;
  font-size: 26px;
  margin-left: 0px;
  position:relative;  
  color: #ccc;
  font-size: 2.5em;
  font-weight: bold;
}

.sousMenu{
  background-color: transparent;
  border: none;
  font-size: 26px;
  margin-left: 0px;
  position:relative;  
  color: #ccc;
  font-size: 1.2em;
  display: none;
  right :200px;
  opacity: 0;
  width:fit-content;
  float:initial;
}

/* Section des projets */
#projets {
  padding: 40px 20px;
  text-align: center;
}

#projets .projet {
  display: inline-block;
  width: 300px;
  margin: 20px;
}

#projets img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

/* Section de contact */
#contact {
  padding: 40px 20px;
  text-align: center;
  margin-top: 20px;
}

#contact form {
  display: inline-block;
  width: 300px;
  transform: translateX(0%);
}


#contact input, #contact textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#contact button {
  padding: 10px 20px;
  border: none;
  background: #333;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

input[id="menuDeroulant"]{
  background-color: aqua;
  border-radius: 20%;
  border: none;
}

/*input[id="menuDeroulant"]:hover{
  background-color: red;
  text-shadow: 50%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 150px;
  
}
*/

/* Styles pour la page du CV */

.CV {

text-align: center;
margin-top: 10px;
font-family: Arial, Helvetica, sans-serif;
font-size: 20px;

}

/* Styles pour la page à propos de moi*/

.moi {
  text-align: center;
  margin-top: 10px;
}